__pycache__
*.so
build
.coverage_*
*.egg-info
*~
slurm*
logs
outputs/
kernel_meta/
fusion_result.json
third_party/orin_mindspeed/downloads/
.vscode
local/
.gitmodules
wandb/
onelogger.log
onelogger.err
